.App {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
}

.App > div {
  width: 80%;
  display: flex;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.submit-container input {
  flex-grow: 1;
  height: 30px;
  margin-right: 8px;
  padding: 5px 20px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

.submit-container input:focus {
  outline: none;
  border: 1px solid #3b71ca;
}

.submit-container #submit {
  border: none;
  padding: 15px 15px;
  border-radius: 4px;
  background-color: #54b4d3;
  color: white;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 4px 9px -4px #54b4d3;
}

.tabs-bar {
  display: flex;
  margin-bottom: 24px;
}

.tabs-bar .btn {
  padding: 17px 29px 16px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

.tabs-bar .active {
  border-bottom: 2px solid #3b71ca;
}

.item-list {
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 60%;
  width: 100%;
}

.item-list .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px 24px;
  height: max-content;
  background-color: #f4f6f7;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
}

.item-list .item:not(:first-child) {
  margin-top: 8px;
}

.item .checkbox {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 4px;
  margin-right: 8px;
  border: 2px solid rgba(0,0,0,.25);
}

.item .checked {
  background-color: #3b71ca;
  border: 2px solid #3b71ca;
}

.checkbox:after {
  content: '';
  display: block;
  transform: rotate(45deg);
  width: 4px;
  height: 11px;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  margin-left: 4px;
  margin-top: -1px;
}

.checked~span {
  text-decoration: line-through;
}